.normalFont,
body,
pre,
textarea {
  font-size: 1em;
  font-family: "times new roman", serif;
}
.displayNone {
  display: none;
}
.marg0 {
  margin: 0;
}
.margCent {
  margin: 0 auto;
}
.bold,
.movie .showtimesDetail,
.reviewMetaInfo {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.tCent,
header .headerImgRow,
nav,
article.movieContainer > h1,
article.movie,
.twoColContainer.articleBg h2 {
  text-align: center;
}
.floatLeft,
.halfCol {
  float: left;
}
.clear,
.twoColContainer.articleBg {
  clear: both;
}
.articleBg,
.articleContainer {
  padding: .8em;
  margin: .3em 0 0 0;
  border-radius: 1em;
  background: #ffe35d;
  box-sizing: border-box;
  /*makes padding included in width for multiple columns*/
}
body {
  margin: -11px 0 0 0;
  background: #db5c02 url('../images/logos/film-reel.jpg');
}
.container {
  margin: 0 auto;
  background: #fd7413;
  width: 100%;
  transition: 0.5s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0;
  font-family: arial, sans-serif;
}
img {
  width: 100%;
}
pre,
textarea {
  margin: 0;
}
p {
  margin: .4em 0;
}
figure {
  margin: 1em 0;
}
header figure {
  display: inline-block;
  width: 19%;
  vertical-align: top;
}
header figure:nth-child(2) {
  width: 60%;
  /*vertical-align: baseline;*/
}
header .socialMediaPics img {
  width: 20%;
}
.buttonLink,
nav a {
  /* for special anchor tags to make them look like buttons */
  display: inline-block;
  background: #ffe35d;
  color: black;
  border-radius: .5em;
  padding: .1em .4em;
}
.buttonLink:hover,
.buttonLink:focus {
  box-shadow: black 1px 1px 5px;
  text-decoration: none;
  background: #ffec90;
}
/*.boxShadowHover(@selector){
	@{selector}:hover, @{selector}:focus{
		box-shadow: black 1px 1px 5px;
	}
}*/
/*.buttonLink:hover, .buttonLink:focus {
    box-shadow: black 1px 1px 5px;
}*/
nav {
  background: #751d00;
  border-radius: .5em;
  padding: .5em 0;
}
nav a {
  /*display: inline-block;
		padding: .5em;
		border-radius: 1em;
		background: lightblue;
		margin: 0;*/
}
nav a:hover,
nav a:focus {
  box-shadow: black 1px 1px 5px;
  text-decoration: none;
  background: #ffec90;
}
.mistake {
  background: red;
  color: white;
}
footer {
  text-align: center;
}
.movieInfo {
  background: grey;
  padding: .5em;
  margin: 1em 0;
}
.movie figure {
  float: left;
  width: 120px;
  margin: 0 1em 0 0;
}
article.movieContainer {
  overflow: auto;
}
article.movieContainer > h1 {
  /*main h1 title for every page is centered*/
}
article.movie {
  height: 188px;
}
/*--------------- Prices ---------------*/
.halfCol {
  width: 100%;
}
#prices .articleBg > h3 {
  color: #c7000f;
}
/*--------------- end Prices ---------------*/
/*************** Synopses & soon **********************/
.twoColContainer.articleBg {
  display: table;
  width: 98%;
}
.twoColContainer.articleBg h3 {
  color: #c7000f;
}
.twoColContainer.articleBg > div {
  width: 49%;
  float: left;
}
.twoColContainer.articleBg > div:nth-child(2) {
  float: right;
  /*right div is image & floats right*/
  width: 200px;
}
.twoColContainer.articleBg figure {
  width: 200px;
}
/*************** end Synopses **********************/
/*-------------------- Reviews --------------------*/
.reviewSection {
  /*space between reviews*/
  margin: 0 0 2em 0;
}
/*-------------------- end Reviews --------------------*/
textarea[name='txtSynopsis'] {
  width: 30em;
  max-width: 30em;
  height: 7em;
}
textarea[name='txtReview'] {
  width: 60em;
  height: 7em;
}
table {
  border-collapse: collapse;
}
form tr > td:nth-child(1) {
  text-align: right;
}
body article tr td[colspan='2'] {
  /* center text to override default of align-right */
  text-align: left;
}
/* td, th {
	border:1px solid black;
} */
label {
  display: inline-block;
}
.formColumnContainer {
  /* block level element to contain a left & right element so that labels line up & align */
}
.formColumnContainer article input,
.formColumnContainer article label,
.formColumnContainer article select {
  /* give height to items in the form to align rows */
  height: 1.5em;
}
.formColumnContainer article {
  /* make 2 child elements be next to each other on the same line */
  display: inline-block;
}
.formColumnContainer article:nth-child(1) {
  text-align: right;
}
.formColumnContainer article:nth-child(2) {
  text-align: left;
}
/* .showtimeRow.noAlign td, .noAlign th{
	text-align: left;
} */
input[type='date'] {
  /* target all date input fields to have the same width */
  width: 10em;
}
.whatJustHappened {
  background: #fd7413;
  padding: .5em;
  -webkit-animation: fadeJustHappened 3s linear 1;
  animation: fadeJustHappened 3s linear 1;
  /*animate background when they update something */
}
@-webkit-keyframes fadeJustHappened {
  0% {
    background: #04cf00;
  }
  40% {
    background: #04cf00;
  }
  100% {
    background: #fd7413;
  }
}
@keyframes fadeJustHappened {
  0% {
    background: #04cf00;
  }
  40% {
    background: #04cf00;
  }
  100% {
    background: #fd7413;
  }
}
/*media queries for small screens*/
@media (min-width: 700px) {
  .container {
    width: 80%;
  }
  .halfCol {
    width: 50%;
  }
}
